<div class="container">
  <div class="row">
    <div class="textbox col-lg-6"> 
      <h1>Welcome to myRecipes!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lobortis finibus porttitor. Nam mollis egestas mi a euismod. Donec volutpat arcu quis rutrum feugiat. Vestibulum pretium sem justo, at rutrum ante maximus a. Aliquam erat volutpat. Duis eu blandit erat. Phasellus scelerisque commodo tortor quis fringilla. Morbi sit amet lorem ligula. Sed vehicula dolor quis diam pulvinar, in faucibus nunc fermentum. Ut placerat orci bibendum risus suscipit fringilla. Nullam ultrices ullamcorper pharetra.</p>
      <p><%=link_to "Sign up now!", "", class: "btn btn-primary btn-lg" %></p>
    </div>
    <div class="image col-lg-6">&nbsp; </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <h3 class="center">View recipes as guest user </h3>
    <p class="center"> Browse recipes as guest and sign up later. </p>
    <p class="center"><%= link_to "Browse recipe listings", "", class:"btn btn-warning btn-small" %></p>
  </div>
   <div class="col-lg-4">
    <h3 class="center">View recipes as guest user </h3>
    <p class="center"> Browse recipes as guest and sign up later. </p>
    <p class="center"><%= link_to "Browse recipe listings", "", class:"btn btn-warning btn-small" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="center">View recipes as guest user </h3>
    <p class="center"> Browse recipes as guest and sign up later. </p>
    <p class="center"><%= link_to "Browse recipe listings", "", class:"btn btn-warning btn-small" %></p>
  </div>
</div>